[Unit]
Description=Daily Restic backup

[Timer]
OnCalendar=*-*-* 01:00:00
Persistent=true
RandomizedDelaySec=5min
Unit=restic-backup.service

[Install]
WantedBy=timers.target
