[Unit]
Description=Restic prune (repository compaction)
# Ensure we don't prune while retention is calculating
After=restic-retention.service

[Service]
Type=oneshot
User=root
Group=root
Environment=GNUPGHOME=/root/.gnupg

ExecStart=/usr/local/bin/restic-ops/bin/prune.sh

NoNewPrivileges=yes
MemoryDenyWriteExecute=yes
PrivateTmp=yes
ProtectSystem=strict
ReadOnlyPaths=/usr/local/bin/restic-ops
SyslogIdentifier=restic-prune
