[Unit]
Description=Restic backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/usr/local/bin/restic-ops
ExecStart=/usr/local/bin/restic-ops/bin/backup.sh
