[Unit]
Description=Daily Restic backup

[Timer]
# Run every day at 01:00
OnCalendar=*-*-* 01:00:00
Persistent=true
Unit=restic-backup.service

[Install]
WantedBy=timers.target
